

.card {
    height: 2em;
    width: 40%;
    margin: 15px auto;
    border: solid;
    display: flex;
    align-items: center;
    justify-tracks: center;
    border-radius: 8px;
    background-color: #fff;
    padding: 1.8rem;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    
    
}

.card:hover {
    background-color: beige;
}
h4{
    color: chocolate;
    
}